.TodoItem {
  display: flex;
  align-items: center;
  margin: 2rem 0;

  .Checkbox {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: .5rem;
    border: 2px solid #727585;
    cursor: pointer;
    outline: none;
  }

  .ItemInfo {
    .ItemTitle {
      color: #696e84;
      font-size: 13px;
      font-weight: bold;
      display: block;
    }

    .ItemCaption {
      font-size: 11px;
      display: block;
      color: #969aa4;

      &.Danger {
        color: #ef8857;
      }
    }
  }
}