.NavTop{
  display: flex; 
  align-items: center;
  justify-content:center;
  height: 25%;
  .NavItem {
    margin: 0 5px;
    height: 20px;
    padding: 0 .5rem;
    background: none;
    outline: none;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 12px;
    &.Active {
      background: #ec8a57;
      color: #fff;
      box-shadow: 0 0 3px #ffc3a4;
    }
  }
  .Arrow {
    border-radius: 50%;
    background: #e1e4e9;
    color: #7e7e98;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}